$primary-color: #02A049;
// $secondary-color:  #D9C331; 
$secondary-color: #efd717;
$border-radius: 8px;
$background-color: #FAFBFA;
$text-color-dark: #060606;
$card-text-color-dark: #001A0DCC;
$text-color-light: #ffffff;
$text-color-third: #0a3010;
$card-background: #ffffff;
$font-family: 'Montserrat', sans-serif;
$box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
$transition-duration: 0.3s;
$transition-easing: ease-in-out;
$font-weight-bold: 600;