<section class="better-rewards-journey">
  <app-kiosk-top-bar
    [showBack]="showBack()"
    [showClose]="showClose()"
    [showSteps]="showSteps()"
    [showProgressTrack]="showProgressTrack()"
    [showTillSlip]="showTillSlip()"
    [progressPercent]="progressPercent()"
    topInsetMode="compact"
    [steps]="headerSteps()"
    [tillSlipData]="tillSlipData()"
    [allowStepClick]="true"
    [maxReachableStepIndex]="maxReachableStepIndex()"
    (back)="previousStep()"
    (close)="closeJourney()"
    (stepSelected)="goToStep($event)"
  >
    @if (currentStep() === JourneyStep.BasketPicker) {
      <app-better-rewards-basket-picker
        [model]="journeyData"
        [form]="journeyForm"
        (modelChange)="onJourneyDataChange($event)"
        (next)="nextStep()"
      />
    } @else if (currentStep() === JourneyStep.VisitPharmacy) {
      <app-better-rewards-visit-pharmacy-step (next)="nextStep()" />
    } @else if (currentStep() === JourneyStep.ChooseCard) {
      <app-better-rewards-choose-card-step (next)="nextStep()" />
    } @else if (currentStep() === JourneyStep.GetCover) {
      <app-better-rewards-get-cover-step (next)="nextStep()" />
    } @else if (currentStep() === JourneyStep.TotalSavings) {
      <app-better-rewards-total-savings-step (startAgain)="restartJourney()" (close)="closeJourney()" />
    }
  </app-kiosk-top-bar>
</section>
