<div class="landing" (click)="goToHome()">

  <!-- Dischem Logo -->
  <div class="brand-card card">
    <img src="images/dischem-logo-no-background.png" alt="Dis-chem Logo">
  </div>

  <!-- Main content on background -->
  <div class="main-content">

    <h1>Welcome to Melrose Arch</h1>

    <h2>Tap Anywhere to Start</h2>

    <p>Your health and wellness destination</p>

  </div>


  <div class="floating-icons">

    <span class="material-icons icon">add</span>
    <span class="material-icons icon">add</span>
    <span class="material-icons icon">add</span>
    <span class="material-icons icon">add</span>
    <span class="material-icons icon">add</span>
    <span class="material-icons icon">add</span>
    <span class="material-icons icon">add</span>
    <span class="material-icons icon">add</span>

  </div>

</div>